<div class="container mt-5">
  <div class="card border-danger shadow">
    <div class="card-header bg-danger text-white">
      <h3 class="card-title"><i class="bi bi-exclamation-octagon"></i> Accès Refusé</h3>
    </div>
    <div class="card-body text-center">
      <p class="card-text fs-5">
        Désolé, vous n'avez pas les autorisations nécessaires pour accéder à cette fonctionnalité.
      </p>
      <button class="btn btn-primary" routerLink="/admin/customers">
        Retour à l'accueil
      </button>
    </div>
  </div>
</div>
